@import "tailwindcss";

body {
    background-color: #141414;
    color: #ffff;
}

.swiper-pagination-bullet {
    width: 16px !important;
    height: 4px !important;
    background-color: #333333 !important;
    border-radius: 2px !important;
    opacity: 1 !important;
    transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
    width: 24px !important;
    background-color: #E50000 !important;
}
